.title-bar {
  background: #e35557;
  color: white;
}

// Create a subtitle element for title-bar
// font size to 1.3rem
// font weight to 400

.title-bar__subtitle {
  font-size: 1.3rem;
  font-weight: 400;
}